In [1]:
import sqlite3

# --- 1. 데이터 추가하기 ---
try:
    with sqlite3.connect('address.db') as conn:
        c = conn.cursor()
        
        # '세종대왕' 정보 추가 (UNIQUE 제약 조건 때문에 여러 번 실행하면 오류 발생)
        # 한번만 실행하거나, 이미 데이터가 있다면 이 부분은 주석 처리하세요.
        c.execute("INSERT INTO addressbook (name, phone, email) VALUES (?, ?, ?)",
                  ('HiroseAlice', '010-1234-5678', 'sejong@hangeul.com'))
        print("you have successfully added")

except sqlite3.IntegrityError:
    # email이 UNIQUE이므로 중복 추가 시 발생하는 오류 처리
    print("already exists")

# --- 2. 추가된 데이터 확인하기 ---
with sqlite3.connect('address.db') as conn:
    c = conn.cursor()
    
    # 이름으로 데이터 조회
    target_name = 'HiroseAlice'
    c.execute("SELECT * FROM addressbook WHERE name = ?", (target_name,))
    
    result = c.fetchone()
    
    print("\nthe search result of 'HiroseAlice':")
    print(result)

you have successfully added

the search result of 'HiroseAlice':
(5, 'HiroseAlice', '010-1234-5678', 'sejong@hangeul.com')